/*-- scss:defaults --*/
/* useful resource on customizing Quarto sites */
/* https://ucsb-meds.github.io/customizing-quarto-websites/#/title-slide */

// Colors
$dark-purple: #352245;
$mauve: #D7B3F1;
$blue: #99C0FA;
$pink-lavender: #E6B9D4;
$african-violet: #917CB8;
$ivory: #FCFBED;

/* generally useful other colors */
$cream: #F4F3EE;
$gray-0: #d6d6d6;
$gray-1: #BCB8B1;
$gray-2: #8A817C;
$gray-3: #222823;
$gray-4: #191919;
$black: #08090A;

// Fonts
$font-size: 25px;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');

// Base document colors
$navbar-bg: $african-violet; // navbar
$navbar-fg: $dark-purple; // navbar foreground elements
$navbar-hl: $mauve; // highlight color when on a page
$body-bg: $dark-purple; // page background
$body-color: $cream; // page text
$link-color: $blue; // hyperlinks

// Code text
$code-bg: $african-violet; // inline code background color
$code-block-bg: $african-violet; // code block background color
$code-color: $ivory; // inline code text color